html {
	height: 100%; 
	width: 100%;	
	/*background-image: url("../images/banner.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100% 87px;
	background-color: #ffffff;*/
}

#banner {
    text-align: center;
    width: 1920px;
    left: -8px;
    height: 100px;
    background-image: url("../images/Banner.jpg");
    opacity: 0.5;
    position: relative;
    display: block;
}

#buttonWrapper {
    position: relative;
    top: 60px;
    margin: 0 auto;
}

.pp {
   font-family: "Avantgarde", sans-serif;
   font-size: 18px;
   text-align: left;
   margin-right: 60%;
   margin-left: 17px;
}

#contentWrapper {
	display: inline-block;
	margin-top: 30px;
}

#nuLogo {
	opacity: .5;
	width: 30%;
	height: auto;
	float: right;
	margin-right: 17%;
	margin-top: 10%;
}


.link{
	color: white;
	font-family: Arial;
	text-decoration: none;
	margin: 20px;
    position: relative;
    text-align: right;
    margin-right: 20px;
    margin-top: 25px;
    font-size: 25px;
}

.link:hover {
	color: red;
}

