html {
	height: 100%; 
	width: 100%;	
	background-image: url("../images/wpBanner2.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100% 87px;
	background-color: #ffffff;
}

header {
   font-family: "Avantgarde", sans-serif;
   font-size: 36px;
   font-weight: 50;
   margin-top: 4%;
   text-align: left;
   margin-left: 17px;
}

.pp {
   font-family: "Avantgarde", sans-serif;
   font-size: 18px;
   text-align: left;
   margin-right: 60%;
   margin-left: 17px;
}

#pp {
	display: inline-block;
}

#pic {
	opacity: .5;
	width: 30%;
	height: auto;
	float: right;
	margin-right: 17%;
	margin-top: 7%;
}

#links {
	position: relative;
	text-align: right;
	margin-right: 20px;
	margin-top: 25px;
}

.link{
	color: white;
	font-family: Arial;
	text-decoration: none;
	font-size: 24px;
	margin: 20px;
}

.link:hover {
	color: red;
}

