html {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("../images/Team Picture 2015.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#banner {
    text-align: center;
    width: 1920px;
    left: -8px;
    height: 100px;
    background-image: url("../images/Banner.jpg");
    opacity: 0.5;
    position: relative;
    display: block;
}

#buttonWrapper {
    position: relative;
    top: 60px;
    margin: 0 auto;
}

@media(min-width:990px){
  #buttons{
	margin-bottom: 60px;
	right: 10%;
  }
}

@media(max-width:989px){
  #buttons {
  margin-bottom: 25px;
	left: 80%;
  }
}

.link {
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
  position: relative;
  margin: 20px;
  font-size: 25px;
}

.link:hover {
  color: red;
}