html {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("../images/Team Picture 2015.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#banner {
    text-align: left;
    width: 100%;
    height: 100px;
    background-image: url("../images/Banner3.jpg");
    background-size: 40%;
    background-position: center;
    opacity: 0.85;
    background-repeat: no-repeat;
}

#menu {
  background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
  right: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
}

#menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

#menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

#icon-menu:hover {
  color:red;
}

#icon-menu{
  color: black;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 22px;
  text-decoration: none;
  text-transform: uppercase;
}

#icon-close {
  cursor: pointer;
  padding-right: 10px;
  padding-top: 10px;
}

#active {
    color: red;
}

@media(min-width:990px){
  #buttons{
	margin-bottom: 60px;
	right: 10%;
  }
}

@media(max-width:989px){
  #buttons {
  margin-bottom: 25px;
	left: 80%;
  }
}

.link {
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
  position: relative;
  margin: 20px;
  font-size: 25px;
}

.link:hover {
  color: red;
}