html {
	height: 100%; 
	width: 100%;	
}

#banner {
    text-align: center;
    width: 1920px;
    left: -8px;
    height: 100px;
    background-image: url("../images/Banner.jpg");
    position: relative;
    display: block;
}

#buttonWrapper {
    position: relative;
    top: 60px;
    margin: 0 auto;
}

#active {
    color: red;
}

#links {
	position: relative;
	text-align: right;
	margin-right: 20px;
	margin-top: 25px;
}

.link{
	color: white;
	font-family: Arial;
	text-decoration: none;
	font-size: 25px;
	margin: 20px;
}

.link:hover {
	color: red;
}

header {
   font-family: "Avantgarde", sans-serif;
   font-size: 36px;
   font-weight: 50;
   margin-top: 6%;
   text-align: center;
}

table {
   font-family: "Avantgarde", sans-serif;
   font-size: 18px;
   margin-right: 10%;
   margin-left: 10%;
}

#captains {
	text-align: center;
	margin-left: 20%;
	margin-right 20%; 
}

td {
	padding: 15px;
	padding-bottom: 20px;
}